footer {
    width: 100vw;
<<<<<<< HEAD
    ;
    background: 
        url(../assets/Filtro.png) repeat,
=======
    height: 300pxpx;
    background: 
        url(../assets/8ca50fac8bdafff0f45e70f58dd991cd.png) repeat,
>>>>>>> 0433bfd9b716fca5baa8492e3d69c9daf64c72e4
        #1e1e1e
}

.sec-footer {
    width: 84vw;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 auto;
<<<<<<< HEAD
    flex-direction: column;
    justify-content: space-evenly;
}

#logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 40px;
}

#logo-container img {
    width: 200px;
}

=======
    
    justify-content: space-evenly;
}

>>>>>>> 0433bfd9b716fca5baa8492e3d69c9daf64c72e4
#redes-sociais-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 20px;
}

#redes-sociais-container ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}


#redes-sociais-container ul li a img {
    height: 60px;
    width: 60px;
    padding: 7px;
<<<<<<< HEAD
    transition: transform 1s;
    filter: saturate(0);
    
}

#redes-sociais-container ul li a img:hover {
    filter: saturate(1);

    transition: 1s;
=======
    transition: transform 0.4s;
}

#redes-sociais-container ul li a img:hover {
>>>>>>> 0433bfd9b716fca5baa8492e3d69c9daf64c72e4
    transform: scale(1.1);
}


.nav-footer {
    width: 84vw;

    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin: 0 auto;
    margin-top: 20px;
    justify-content: space-around
    

}

.footer-section {
    text-align: left;
}

.footer-section h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-align: center;
<<<<<<< HEAD

    background-image: linear-gradient(to right, #d66011, #b89c21);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    color: black;
    
=======
    color: rgb(150, 150, 150);
>>>>>>> 0433bfd9b716fca5baa8492e3d69c9daf64c72e4
}

.footer-section ul {
    list-style: none;
    padding: 2px;
    text-align: center;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    color: beige;
<<<<<<< HEAD
    font-weight: 500;
=======
>>>>>>> 0433bfd9b716fca5baa8492e3d69c9daf64c72e4
    text-decoration: none;
    transition: color 0.3s;
}

#creditos-footer {
    margin-top: 20px;
    text-align: center;
    font-size: 0.9rem;
<<<<<<< HEAD
    font-weight: 500;
=======
>>>>>>> 0433bfd9b716fca5baa8492e3d69c9daf64c72e4
    border-top: 1px solid beige;
    color: beige;
    padding-top: 10px;
    padding-bottom: 5px;
<<<<<<< HEAD
}
=======
}
>>>>>>> 0433bfd9b716fca5baa8492e3d69c9daf64c72e4
